@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Hero container */

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #00d48b, #00cb90, #00c194, #00b896, #00ae96);

  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero__container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  font-size: 3rem;
}

.hero__paragraph {
  margin-bottom: 20px;
}

/* About */

.about {
  text-align: center;
}

.subtitle {
  color: rgb(17 94 89);
  font-size: 2.3rem;
}

.subtitleHead {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.about__paragraph {
  line-height: 1.7;
}

.about__main {
  padding-top: 100px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 5em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(460px, auto));
  justify-content: center;
}

.about__icons {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 390px;
  overflow: hidden;
  margin: 0 auto;
}

.about__icon {
  width: 120px;
}

/* Knowledge */

.knowledge {
  background-image: radial-gradient(
    circle at 4.55% -4.17%,
    #95d5a6 0,
    #83d1a6 12.5%,
    #70cda6 25%,
    #58c8a7 37.5%,
    #36c3a9 50%,
    #00bdac 62.5%,
    #00b8af 75%,
    #00b3b4 87.5%,
    #00aeba 100%
  );
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}

.knowledge__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.knowledge__picture {
  max-width: 500px;
}

.knowledge__paragraph {
  font-size: 20px;
  color: white;
  line-height: 1.7;
  margin-bottom: 15px;
}

.knowledge__img {
  width: 100%;
  display: block;
}

/* Testimony */

.testimony {
  background-image: radial-gradient(
    circle at 9.44% -7.92%,
    #31d4b6 0,
    #1ec6b1 16.67%,
    #0bb6a9 33.33%,
    #00a49e 50%,
    #029392 66.67%,
    #098387 83.33%,
    #10757c 100%
  );
}
.testimony__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony__body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.testimony__body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony__texts {
  max-width: 700px;
}

.testimony__course {
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.testimony__arrow {
  width: 90%;
  cursor: pointer;
}

/* Questions */

.questions {
  text-align: center;
}

.questions__container {
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid #009b8e;
  border-radius: 6px;
}

.questions__padding--add {
  padding-bottom: 30px;
}

.questions__answer {
  padding: 0 30px 0;
  overflow: hidden;
}

.questions__title {
  text-align: left;
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: rgb(0, 83, 83);
  justify-content: space-between;
}

.questions__arrow {
  border-radius: 50%;
  background-color: rgb(0, 107, 107);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform 0.3s;
}

.questions__arrow--rotate {
  transform: rotate(180deg);
}

.questions__show {
  text-align: left;
  height: 0;
  transition: height 0.3s;
}

.questions__img {
  display: block;
}

.questions__copy {
  width: 60%;
  margin: 0 auto;
}

/* Footer */

.footer {
  background-color: #1d293f;
}

.footer__title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.nav--footer {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav__link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer__inputs {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer__input {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer__submit {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #2091f9;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.footer__copy {
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.footer__copyright {
  font-weight: 300;
}

.footer__icons {
  margin-bottom: 10px;
}

.footer__img {
  width: 30px;
}

/* Media queries */

@media (max-width: 800px) {
  .hero__title {
    font-size: 2.5rem;
  }

  .about__main {
    gap: 2em;
  }

  .about__icons:last-of-type {
    grid-column: 1/-1;
  }

  .knowledge__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }

  .knowledge__picture {
    grid-row: 1/2;
    justify-self: center;
  }

  .testimony__container {
    grid-template-columns: 30px 1fr 30px;
  }

  .testimony__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center;
  }

  .testimony__img {
    width: 200px;
    height: 200px;
  }

  .questions__copy {
    width: 100%;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .nav--footer {
    width: 100%;
    justify-items: center;
  }

  .nav__link--footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .footer__form {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer__input {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__paragraph {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .price__element {
    width: 90%;
  }

  .price__element--best {
    width: 90%;
    /* padding: 40px; */
  }

  .price__price {
    font-size: 2rem;
  }

  .testimony {
    --padding-container: 60px 0;
  }

  .testimony__container {
    grid-template-columns: 28px 1fr 28px;
    gap: 0.9em;
  }

  .testimony__arrow {
    width: 100%;
  }

  .testimony__course {
    margin-top: 15px;
  }

  .questions__title {
    font-size: 1rem;
  }

  .footer__title {
    justify-self: start;
    margin-bottom: 15px;
  }

  .nav--footer {
    padding-bottom: 60px;
  }

  .nav__link--footer {
    justify-content: space-between;
  }

  .footer__inputs {
    flex-wrap: wrap;
  }

  .footer__input {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__submit {
    margin-right: auto;
    margin-left: 0;

    /* 
        margin:0;
        width: 100%;
        */
  }
}

/* PARTE DE PASARELA DE PAGO ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.input-container {
  position: relative;
  width: 100%;
}

/* Estilos del input */
.input-container input {
  width: 100%;
}

/* Posiciona la imagen dentro del input */
.input-container img {
  position: absolute;
  right: 10px;
  top: 45%;
  width: 90px;
  height: auto;
}

.payment-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas nuevas */
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 3%;
}

.payment-form,
.payment-summary {
  width: 45%;
  min-width: 300px; /* Asegura que las columnas no se hagan demasiado estrechas */
}

h2 {
  color: rgb(17, 94, 89);
  font-size: 1.5em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: rgb(17, 94, 89);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(12, 66, 63) /* Color similar a bg-teal-700 */; /* Color al pasar el ratón similar a hover:bg-teal-800 */
}

.payment-summary {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.payment-summary p {
  font-size: 1.1em;
  margin: 15px 0;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-2x2 input,
.grid-2x2 select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Responsivo*/
@media (max-width: 768px) {
  .payment-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .payment-form,
  .payment-summary {
    width: 100%;
    margin-bottom: 20px;
  }

  .grid-2x2 {
    grid-template-columns: 1fr;
  }
  .payment-summary {
    border-left: none;
  }
}
