@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins";
}

/*! FOOTER FIN */

/* BOTON GENERICO PARA DESPLAZAR ARRIBA*/
.scroll-to-top-section {
  padding: 30px; /* Ajusta el padding para simular el py-20 de Tailwind */
}

.scroll-to-top-container {
  display: flex;
  justify-content: center;
}

.scroll-to-top-button {
  position: relative;
  background-color: rgb(17, 94, 89);
  color: white;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top-button:hover {
  background-color: rgb(12, 66, 63) /* Color similar a bg-teal-700 */; /* Color al pasar el ratón similar a hover:bg-teal-800 */
}
/* LINEA GRADIENTE SOLO INVOCAR LA CLASE DENTRO D UN DIV*/
.gradient-bar {
  width: 100%; /* Ocupa el 100% del ancho de la ventana */
  height: 6px; /* 2 unidades en Tailwind son 8px */
  background: linear-gradient(
    to right,
    #00695c,
    #00796b,
    #80cbc4,
    #2196f3
  ); /* Color del degradado */
  border-radius: 9999px; /* Borde redondeado completo */
}

/* NAV MENU GENERAL ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  color: white;
}

.nav__verde {
  color: #00503f;
  text-decoration: none;
}

.nav__link {
  font-size: 1.1rem;
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu,
.icono-menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

.nav__close {
  display: var(--show, none);
}

.nav__links {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.nav__links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.nav__links:hover::after {
  width: 100%;
}
.nav__links.active::after {
  width: 100%; /* Ancho completo cuando la clase active está presente */
}

.nav_verde {
  color: #00503f;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  font-weight: 600;
}

.nav_verde::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #00503f;
  transition: width 0.3s ease-in-out;
}
.nav_verde.active::after {
  width: 100%; /* Ancho completo cuando la clase active está presente */
}

.nav_verde:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .nav__menu,
  .icono-menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: rgba(
      0,
      0,
      0,
      0.9
    ); /* El último valor (0.5) define la opacidad */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
    font-size: 1.3rem;
  }
  .nav__link--menu.index {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close,
  .icono-cerrar {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }
}

.cta {
  display: inline-block;
  background-color: #ffffff;
  justify-self: center;
  color: #00b193;
  font-weight: 600;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 5px;
}

.cta:hover {
  background-color: #e7e6e6;
  transition: 1s;
}

/*FOOTER GRAL/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
  font-family: "Poppins" !important;
  position: relative;
  background-image: url("../imgs/footer.svg"); /* Asegúrate de colocar la ruta correcta de tu SVG */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 100px;
  font-size: 1.1rem;
}

.footer-container div {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.logo h2 {
  color: #28a18f;
  font-size: 2rem;
  margin-bottom: 10px;
}

.pages,
.social {
  color: #28a18f;
}

.pages h3,
.social h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pages ul li,
.social p {
  margin: 5px 0;
  color: #333;
  padding: 5px;
}

.pages ul li a {
  color: #333;
}

.pages ul li a:hover {
  color: #6b6b6b;
  transition: 1s;
}

.social p {
  margin: 5px 0;
  color: #333;
}

@media (max-width: 768px) {
  .footer-container {
    text-align: center;
  }

  .footer-container div {
    margin-bottom: 20px;
  }

  .logo h2 {
    font-size: 25px;
  }

  .pages ul li,
  .social p {
    font-size: 18px;
  }

  .pages h3,
  .social h3 {
    font-size: 27px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    text-align: left;
    justify-content: flex-start;
    max-width: 250px;
    margin: 1rem;
    padding: 2rem;
  }

  .logo h2 {
    font-size: 25px;
  }

  .pages ul li,
  .social p {
    font-size: 20px;
  }

  .pages h3,
  .social h3 {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #005851;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.ver-mas-btn {
  margin-top: 10px;
  display: inline-block; /* Asegura que se comporte como un botón */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Quita el subrayado del enlace */
  background-color: #009688; /* Color del botón */
  color: white; /* Color del texto */
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 0.75rem 1.5rem; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: transform 0.2s, box-shadow 0.2s; /* Animación suave */
}

.ver-mas-btn:hover {
  transform: translateY(-2px); /* Efecto de levantar al pasar el mouse */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.ver-mas-btn:active {
  transform: translateY(1px); /* Botón se hunde al hacer clic */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Reduce la sombra */
}
