@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html {
  scroll-behavior: smooth !important
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins";
}

/* .navbar-container {
  padding: 1.5rem 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;

  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.navbar-container-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-logo-container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #115a4a;
}

.navbar-icon {
  display: none;
  flex-direction: column;
  margin: 0;
  margin-top: 1rem;
  gap: 6px;

  width: 0px;
  height: 0px;
  cursor: pointer;

  border-radius: 10px;
}
.navbar-icon span {
  background-color: rgb(28, 28, 28);
  width: 100%;
  height: 2px;
  transform-origin: 0px 100%;
  transition: all 600ms;
  border-radius: 40px;
}
.line-1.active {
  transform: rotate(45deg) translate(-2px, 1px);
}
.line-3.active {
  transform: rotate(-45deg) translate(-2px, -1px);
}
.line-2.active {
  opacity: 0;
  margin-left: -30px;
}

.navbar-list {
  list-style: none;
  margin: 0;

  display: inline-flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 3rem;
  border-radius: 15px;
}

.navbar-link {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family: "Lemon/Milk", sans-serif;
  transition: 0.3s ease;
}
.navbar-link:hover {
  cursor: pointer;
  color: #115a4a;
}
.navbar-link.donation {
  font-weight: bold;
}

.navbar-logo {
  height: 60px;
  width: auto;
  margin-top: 3px;
}

@media screen and (max-width: 950px) {
  .navbar-container nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 100%;

    margin: 0 auto;
  }
  .navbar-container-span {
    justify-content: space-between;
    width: 100%;
  }
  .navbar-list {
    flex-direction: column;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease, visibility 0s linear, max-height 0.5s ease; /* Transición de opacidad, visibilidad y max-height */

/* border: none;
    border-top: 3px solid #115a4a;

    border-radius: 2px;
  }

  .navbar-list.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
    max-height: 500px;
    margin: 1rem 0 0 0;
  }

  .navbar-list .navbar-list-item {
    padding: 1.2rem;
    border-bottom: 1px solid rgb(221, 216, 216);
    width: 100%;
  }

  .navbar-list .navbar-list-item:hover {
    background-color: rgba(194, 194, 194, 0.2);
    transition: all 800ms;
    padding-left: 1rem;
  }
  .navbar-icon {
    display: flex;
    width: 25px;
    height: 25px;
  }
  @media screen and (max-width: 400px) {
    .navbar-container nav {
      width: 100%;
      margin: 0;
    }
  }
} */
/*! NAVBAR FIN */

/*! FOOTER  */
/* footer {
  border-top: 1.5px solid rgb(185, 185, 185);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .container-top {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}

.container-top-left,
.container-top-right {
  display: inline-flex;
  justify-content: flex-start;

  padding: 3rem 0 0 0;
}
.container-top-left {
  gap: 2rem;
  align-items: center;
}
.container-top-right {
  gap: 3rem;
  align-items: flex-start;
}

.container-top-left img {
  width: 5rem;
}

.container-top-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-top-right ul li {
  padding-bottom: 0.5rem;
}

.container-bottom {
  overflow: hidden;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

.wave {
  width: 6000px;
  height: 70%;

  bottom: 0;
  left: 0;

  background-image: url(../imgs/wd1.svg);
  background-position: bottom;
}

.w1 {
  animation: w1 7s linear forwards;
}

.w2 {
  animation: w2 6s linear -0.125s forwards,
    desplazamiento 6s ease -0.125s forwards;
  opacity: 0.5;
  height: 100%;
  width: 6000px;
}

@keyframes w1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes w2 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes desplazamiento {
  0%,
  100% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(10px);
  }
} */
/*WAVE FINAL*/

/*! FOOTER FIN */

/* BOTON GENERICO PARA DESPLAZAR ARRIBA*/
.scroll-to-top-section {
  padding: 30px; /* Ajusta el padding para simular el py-20 de Tailwind */
}

.scroll-to-top-container {
  display: flex;
  justify-content: center;
}

.scroll-to-top-button {
  position: relative;
  background-color: rgb(17, 94, 89);
  color: white;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top-button:hover {
  background-color: rgb(12, 66, 63) /* Color similar a bg-teal-700 */; /* Color al pasar el ratón similar a hover:bg-teal-800 */
}
/* LINEA GRADIENTE SOLO INVOCAR LA CLASE DENTRO D UN DIV*/
.gradient-bar {
  width: 100%; /* Ocupa el 100% del ancho de la ventana */
  height: 6px; /* 2 unidades en Tailwind son 8px */
  background: linear-gradient(
    to right,
    #00695c,
    #00796b,
    #80cbc4,
    #2196f3
  ); /* Color del degradado */
  border-radius: 9999px; /* Borde redondeado completo */
}

/* NAV MENU GENERAL ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}



.nav__title {
  color: white;
}

.nav__verde {
  color: #00503f;
  text-decoration: none;
}

.nav__link {
  font-size: 1.1rem;
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu,
.icono-menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

.nav__close {
  display: var(--show, none);
}

.nav__links {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.nav__links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.nav__links:hover::after {
  width: 100%;
}
.nav__links.active::after {
  width: 100%; /* Ancho completo cuando la clase active está presente */
}

.nav_verde {
  color: #00503f;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  font-weight: 600;
}

.nav_verde::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #00503f; 
  transition: width 0.3s ease-in-out;
}
.nav_verde.active::after {
  width: 100%; /* Ancho completo cuando la clase active está presente */
}

.nav_verde:hover::after {
  width: 100%; 
}

@media (max-width: 800px) {
  .nav__menu,
  .icono-menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9); /* El último valor (0.5) define la opacidad */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
    font-size: 1.3rem;
  }
  .nav__link--menu.index{
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close,
  .icono-cerrar {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }
}


.cta {
  display: inline-block;
  background-color: #ffffff;
  justify-self: center;
  color: #00b193;
  font-weight: 600;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 5px;
}

.cta:hover {
  background-color: #e7e6e6;
  transition: 1s;
}

/*FOOTER GRAL/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
  font-family: "Poppins" !important;
  position: relative;
  background-image: url("../imgs/footer.svg"); /* Asegúrate de colocar la ruta correcta de tu SVG */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 100px;
  font-size: 1.1rem;

}

.footer-container div {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.logo h2 {
  color: #28a18f;
  font-size: 2rem;
  margin-bottom: 10px;
}

.pages,
.social {
  color: #28a18f;
}

.pages h3,
.social h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pages ul {
  list-style-type: none;
  padding: 0;
}

.pages ul li,
.social p {
  margin: 5px 0;
  color: #333;
  padding: 5px;
}

.pages ul li a {
  color: #333;
}

.pages ul li a:hover {
  color: #6b6b6b;
  transition: 1s;
}

.social p {
  margin: 5px 0;
  color: #333;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;

  }

  .footer-container div {
    margin-bottom: 20px;
  }

  .logo h2 {
    font-size: 25px;
  }

  .pages ul li,
  .social p {
    font-size: 18px;
  }

  .pages h3,
  .social h3 {
    font-size: 27px;
  }
}

@media (max-width: 480px) {
  .logo h2 {
    font-size: 25px;
  }

  .pages ul li,
  .social p {
    font-size: 20px;
  }

  .pages h3,
  .social h3 {
    font-size: 20px;
  }
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #005851;
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

.ver-mas-btn {
  margin-top: 10px;
  display: inline-block; /* Asegura que se comporte como un botón */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Quita el subrayado del enlace */
  background-color: #009688; /* Color del botón */
  color: white; /* Color del texto */
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 0.75rem 1.5rem; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: transform 0.2s, box-shadow 0.2s; /* Animación suave */
}

.ver-mas-btn:hover {
  transform: translateY(-2px); /* Efecto de levantar al pasar el mouse */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.ver-mas-btn:active {
  transform: translateY(1px); /* Botón se hunde al hacer clic */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Reduce la sombra */
}