body {
  margin: 0;
  min-height: fit-content;
  font-family: "Nunito", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a.DeleteX {
  text-align: center;
  color: rgb(148, 9, 9);
  text-decoration: none;
}
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
p,
input,
.button {
  font-family: "Archivo", sans-serif;
}
/* NAVBAR */
/*ESTILOS HEADER PARA ESCRITORIO*/
.header {
  background-color: #9f3647;
  color: #ffffff;
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;
    .anclaLogo {
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
      /*animacion hover*/
      &:hover {
        animation: tilt-n-move-shaking 0.25s infinite;
      }
    }
    .listaNav {
      list-style: none;
      display: flex;
      align-items: center;

      .listaItem {
        margin-right: 20px;
        .linkNav {
          text-decoration: none;
          color: #ffffff;
          font-weight: 700;
          font-size: 1.1rem;
          padding: 0.5rem 1rem;
          /* Agregar efecto de botón presionado */
          transition: transform 0.3s, box-shadow 0.3s;
          &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
          }
        }
        .linkNav.iniciarSesion {
          background-color: #181419;
          color: white;

          border-radius: 5px;
          /* Agregar efecto de botón presionado */
          transition: transform 0.3s, box-shadow 0.3s;
          &:hover {
            background-color: #9f3647;
            /* transform: scale(0.95);
                         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
          }
        }
      }
    }
  }
}
/*ESTILOS PARA HEADER MOBILE Y TABLET*/

@media (max-width: 800px) {
  .header {
    height: initial;
    flex-wrap: wrap;
    .navegacion {
      margin-left: 10px;
      margin-right: 10px;
      flex-direction: column;
      row-gap: 20px;
      .anclaLogo {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .listaNav {
        padding: initial;
        .listaItem {
          .linkNav {
            font-weight: 400;
            margin-right: initial;
            font-size: 1rem;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}
/*ESTILOS PARA MAIN ESCRITORIO*/
/* NAVBAR FIN */
#BodyContainerAdmin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 194, 194, 0.1);
  min-height: min-content;
  width: 100%;
  height: auto;
}
#BodyContainerAdmin .BodyContainerSection {
  color: black;
  min-height: calc(100vh - 50px);
  height: 100%;
  width: calc(100vw - 280px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#BodyContainerAdmin .BodyContainerSection h1 {
  margin: 3rem 0 2rem 0;

  font-weight: 200;
  font-size: 34px;
}
#BodyContainerAdmin .BodyContainerSection h2 {
  margin: 3rem 0 2rem 0;

  font-weight: 200;
  font-size: 22px;
}
#ButtonAdmin {
  background-color: #9f3647;
  margin: 1rem;
  max-width: 350px;
  border: none;
}
#ButtonAdmin:hover {
  background-color: #9f3648c9;
}
/* TABLE */
#TableFunctions {
  background-color: white;
  border: 0.1px solid #c4d5ee;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  max-width: 900px;
}
#TableFunctions input {
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 30px;

  padding: 0 0.5rem;
  margin: 1rem;

  width: 250px;

  height: 2rem;
}

#TableFunctions button a {
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
}
#TableAdmin {
  width: 100%;
  max-width: 900px;
  margin: 0 2rem;
  z-index: 10001;
  padding: 1rem 2rem;
  background-color: white;
  border: 0.5px solid #c4d5ee;
  border-radius: 2px;
}

#TableAdmin tbody tr td {
  border-bottom: 1px solid rgb(221, 216, 216);
  padding: 0;
  height: 100%;
}
#TableAdmin tbody tr:hover {
  background-color: rgba(194, 194, 194, 0.1);
}
#TableAdmin thead,
#TableAdmin tbody tr {
  text-align: left;

  height: 3rem;
}

#TableAdmin thead th,
#TableAdmin tbody tr td {
  width: 3rem;
  height: 100%;
  padding: 0.5rem;
}
#TableAdmin thead th:first-child,
#TableAdmin tbody tr td:first-child {
  width: 2rem;
}
#TableAdmin thead th {
  border-bottom: 3px solid #9f3647;
}

#TableAdmin tbody tr td.Name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100px;
}
#TableAdmin tbody tr td span.Functions {
  display: inline-flex;
  gap: 1rem;
}
#TableAdmin tbody tr td span .FunctionsLine {
  border-right: 1px solid #9f3647;
  height: 1rem;
  align-self: flex-end;
}
#TableAdmin tbody tr td span.Functions a {
  text-decoration: none;
  font-size: 12px;
  color: #9f3647;
  padding: 0.5rem 0 0 0;
}
#pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

#pagination-controls button:disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

#pagination-controls button:hover:not(:disabled) {
  background-color: #ddd;
}

/* FIN TABLE */
/* FORM */
#FormAdmin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 2rem;
  padding: 1rem 2rem;
  background-color: white;
  border: 0.5px solid #c4d5ee;
  border-radius: 2px;
}

#FormAdmin input {
  width: 98%;

  height: 2.5rem;

  padding-left: 1rem;
  margin: 0.5rem 0;

  font-size: 16px;
  font-style: italic;
  color: rgb(30, 30, 30);

  background-color: white;
  border: 1px solid rgb(221, 216, 216);
  border-radius: 10px;
}

#FormAdmin #ButtonAdmin {
  width: 100%;
}

#FormAdmin #ImagenGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 0.5rem;
}
#FormAdmin textarea {
  width: 100%;
  height: 100%;

  color: rgb(30, 30, 30);
  background-color: white;
  border: 1px solid rgb(221, 216, 216);
  border-radius: 10px;
  margin-right: 10px;
  padding: 0.5rem 1rem;
}
#FormAdmin .FormImage {
  position: relative;
  overflow: hidden;
  background-color: white;
  color: rgb(30, 30, 30);
  border: 1px solid rgb(221, 216, 216);
  border-radius: 10px;
  height: 110px;
  width: 200px;
  cursor: pointer;
}

#FormAdmin .FormImage input[type="file"] {
  border: none;
  position: absolute;
  height: 130px;
  transform: scale(1);
  opacity: 0;
  cursor: pointer;
}

#FormAdmin .SelectGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 100%;
  gap: 1rem;
  margin: 0;
}
#FormAdmin .SelectGroup input {
  width: 200px;
}
#FormAdmin select {
  width: 100%;
  max-width: 200px;
  height: 2.5rem;

  padding-left: 1rem;
  margin: 0;

  font-size: 16px;
  font-style: italic;
  color: rgb(30, 30, 30);

  background-color: white;
  border: 1px solid rgb(221, 216, 216);
  border-radius: 10px;
}

#ButtonAdmin {
  background-color: #9f3647;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 2rem;
  max-width: 150px;
}
/* FIN FORM */

@media screen and (max-width: 950px) {
  #BodyContainerAdmin {
    justify-content: center;
    align-items: center;
  }
  #BodyContainerAdmin .BodyContainerSection {
    width: 90%;
  }
}

.BookingInfo {
  background-color: white;
  padding: 1rem 2rem;
  border: 0.5px solid #c4d5ee;
  font-size: 18px;
  border-radius: 3px;
}
#BookingTables {
  display: inline-flex;
  margin-top: 3rem;
  gap: 1rem;
}

.BookingInfo .label {
  font-weight: 600;
}
/* TABLA CANDIDATO */

#InfoCandidato tbody tr td {
  padding: 0.5rem 1rem;
  justify-self: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}
/* TABLA MASCOTA */
#InfoMascota tbody {
  justify-self: center;
}
#InfoMascota tbody tr td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

#InfoMascota img {
  width: 300px;
  border-radius: 55px;
}
